{% load static %}

<head>
	<title>Karaoke</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div id="centerbox">
        <div class="logo"><b>Kar<span>a</span>ok<span>e</span></b></div>
        <div class="logo2"><b>UNLIMITE<span>D</span></b></div>
        <div class="neonBtn">START</div>
        <div class="neonBtn">ABOUT</div>
    </div>
	<div id="footertext">© <a href="http://brandonssandbox.com/">Brandon Lee</a> 2021</div>
</body>